<section>
    

{% include 'header.html' %}
<div class="banner">
    <div class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transition: all 0.45s ease 0s; width: 17400px; transform: translate3d(-5872px, 0px, 0px);"><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner5.png">
                <img src="/static/img/banners/banner5.png" alt="Banner 5">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner6.png">
                <img src="/static/img/banners/banner6.png" alt="Banner 6">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner7.png">
                <img src="/static/img/banners/banner7.png" alt="Banner 7">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner8.png">
                <img src="/static/img/banners/banner8.png" alt="Banner 8">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner9.png">
                <img src="/static/img/banners/banner9.png" alt="Banner 9">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner0.png">
                <img src="/static/img/banners/banner0.png" alt="Banner 0">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner1.png">
                <img src="/static/img/banners/banner1.png" alt="Banner 1">
            </a>
        </div></div><div class="owl-item active center" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner2.png">
                <img src="/static/img/banners/banner2.png" alt="Banner 2">
            </a>
        </div></div><div class="owl-item active" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner3.png">
                <img src="/static/img/banners/banner3.png" alt="Banner 3">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner4.png">
                <img src="/static/img/banners/banner4.png" alt="Banner 4">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner5.png">
                <img src="/static/img/banners/banner5.png" alt="Banner 5">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner6.png">
                <img src="/static/img/banners/banner6.png" alt="Banner 6">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner7.png">
                <img src="/static/img/banners/banner7.png" alt="Banner 7">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner8.png">
                <img src="/static/img/banners/banner8.png" alt="Banner 8">
            </a>
        </div></div><div class="owl-item" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner9.png">
                <img src="/static/img/banners/banner9.png" alt="Banner 9">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner0.png">
                <img src="/static/img/banners/banner0.png" alt="Banner 0">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner1.png">
                <img src="/static/img/banners/banner1.png" alt="Banner 1">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner2.png">
                <img src="/static/img/banners/banner2.png" alt="Banner 2">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner3.png">
                <img src="/static/img/banners/banner3.png" alt="Banner 3">
            </a>
        </div></div><div class="owl-item cloned" style="width: 770px; margin-right: 100px;"><div class="item">
            <a target="_blank" href="/static/img/banners/banner4.png">
                <img src="/static/img/banners/banner4.png" alt="Banner 4">
            </a>
        </div>
    </div>
    </div>
    </div>
</div>
<img src="{{ url_for('static', filename='img/banners/blackFriday.gif') }}" alt="" style="width: 100%;">
<br>
<div class="companyMenu group flexContain">
    {% for company in companies %}
    <img src="{{ url_for('static', filename='img/company/' + company) }}" alt="{{ company.split('.')[0] }}">
    {% endfor %}
</div>

<div class="flexContain">
    <div class="pricesRangeFilter dropdown">
        <button class="dropbtn">Giá tiền</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop', category=category, price_range='0-1000000') }}">Dưới 1 triệu</a>
            <a href="{{ url_for('shop', category=category, price_range='1000000-3000000') }}">1 triệu - 3 triệu</a>
            <a href="{{ url_for('shop', category=category, price_range='3000000-5000000') }}">3 triệu - 5 triệu</a>
            <a href="{{ url_for('shop', category=category, price_range='5000000-10000000') }}">5 triệu - 10 triệu</a>
            <a href="{{ url_for('shop', category=category, price_range='10000000-20000000') }}">10 triệu - 20 triệu</a>
            <a href="{{ url_for('shop', category=category, price_range='20000000-9999999999999999999') }}">Trên 20 triệu</a>
        </div>
    </div>


    <div class="promosFilter dropdown">
        <button class="dropbtn">Nổi bật</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop', category='noibat') }}">Nổi bật</a>
        </div>
    </div>

    <div class="starFilter dropdown">
        <button class="dropbtn">Số lượng sao</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop', category='5stars') }}">5 Sao</a>
            <a href="{{ url_for('shop', category='4stars') }}">4 Sao</a>
            <a href="{{ url_for('shop', category='3stars') }}">3 Sao</a>
        </div>
    </div>

    <div class="sortFilter dropdown">
        <button class="dropbtn">Sắp xếp</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop', category='moi') }}">Mới nhất</a>
            <a href="{{ url_for('shop', category='banchay') }}">Bán chạy</a>
        </div>
    </div>
    <div class="promosFilter dropdown">
        <button class="dropbtn">Khuyến mãi</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop', category='giamgia', discount_range='10-20') }}">Giảm 10% - 20%</a>
            <a href="{{ url_for('shop', category='giamgia', discount_range='20-30') }}">Giảm 20% - 30%</a>
            <a href="{{ url_for('shop', category='giamgia', discount_range='30-50') }}">Giảm 30% - 50%</a>
            <a href="{{ url_for('shop', category='giamgia', discount_range='50-100') }}">Giảm trên 50%</a>
        </div>
    </div>
    <!-- Thêm nút Reset trong phần chọn bộ lọc -->
    <div class="sortFilter dropdown">
        <button class="dropbtn">Reset</button>
        <div class="dropdown-content">
            <a href="{{ url_for('shop') }}" class="reset-button">Reset Bộ Lọc</a>
        </div>
    </div>

</div> <!-- End khung chọn bộ lọc -->

<div class="choosedFilter flexContain">
    <a id="deleteAllFilter" style="display: none;">
        <h3>Xóa bộ lọc</h3>
    </a>
</div> <!-- Những bộ lọc đã chọn -->
<hr>

<div class="contain-products"> 
    <ul id="products" class="homeproduct group flexContain">
        {% for product_data in products %}
        <li class="sanPham">
            <a href="{{ url_for('product_detail', product_id=product_data.product.id) }}">
                <div class="imgContainer">
                    <img src="{{ product_data.product.images[0].url if product_data.product.images else 'url_to_default_image' }}" alt="{{ product_data.product.name }}">
                    {% if category == 'giamgia' %}
                    <label class="giamgia">
                        <i class="fa fa-bolt"></i> Giảm {{ product_data.discount_amount }}%
                    </label>
                    {% endif %}
                </div>
                <h3>{{ product_data.product.name }}</h3>
                <div class="price">
                    {% if product_data.discount_amount > 0 %}
                        <span style="text-decoration: line-through;">{{ product_data.product.price | format_currency }} đ</span>
                        <strong>{{ (product_data.product.price - (product_data.discount_amount * product_data.product.price) / 100) | format_currency }} đ</strong>
                    {% else %}
                        <strong>{{ product_data.product.price | format_currency }} đ</strong>
                    {% endif %}
                </div>
                <div class="ratingresult">
                    {{ product_data.avg_rating|star_rating(product_data.review_count)|safe }}
                </div>
                <div class="tooltip">
                    <button class="themvaogio" onclick="return false;">
                        <span class="tooltiptext" style="font-size: 15px;">Thêm vào giỏ</span>
                        +
                    </button>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul><!-- End products -->
</div>
<hr>

</section>